[data-bs-theme="waragreen"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #2F3A24;
    --bs-body-bg-rgb: #2F3A24;
    --bs-tertiary-bg: #2F3A24;
}

.waragreen {
    background-color: #2F3A24;
}

.white-text {
    color: white;
    text-decoration: none; !important
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
    text-decoration: underline;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 160%;
}

footer > div > div > ul {
    list-style-type: none;
}

footer > div > a {
    color: white;
    text-decoration: none;
}